@font-face {
  font-family: 'Knicknack';
  src: url('../fonts/KNICKNACK-REGULAR.TTF');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Knicknack';
  src: url('../fonts/KNICKNACK-MEDIUM.TTF');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Knicknack';
  src: url('../fonts/KNICKNACK_BOLD.OTF');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Knicknack';
  src: url('../fonts/KNICKNACK-HEAVY.TTF');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Knicknack';
  src: url('../fonts/KNICKNACK-BLACK.TTF');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Thin.otf');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-ExtraLight.otf');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Light.otf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Regular.otf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-SemiBold.otf');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Bold.otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-ExtraBold.otf');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Alternates';
  src: url('../fonts/MontserratAlternates-Black.otf');
  font-weight: 900;
  font-style: normal;
}
